<!-- Owner Part -->
<% unless current_user.bookings.empty? %>
<div class="banner" id="banner-bookings" style= "background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 0%), url('https://ak8.picdn.net/shutterstock/videos/15642988/thumb/1.jpg');">
  <div class="container text-center">
    <h1 class="font-starwars"> Your Ships </h1>
  </div>
</div>

<div class="ships-show">
  <div class="container">
    <div class="row">
      <% current_user.ships.each do |ship| %>
        <% ship.bookings.reverse.each do |booking| %>
          <div class="card" style="height:15vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= ship.ships_model.image %> ');">
            <div class="card-category"> <%= ship.ships_model.name.capitalize %> </div>
            <div class="card-description text-center font-starwars">
                <% if booking.approved == true %>
                <p><span style="color: #36F548;">
                  <%= User.find(booking.user_id).name %>,
                  <%= User.find(booking.user_id).specie.name %>
                   from
                  <%= User.find(booking.user_id).planet.name %> :
                  <%= booking.start_at.to_time.strftime('%b %e') %> to
                  <%= booking.end_at.to_time.strftime('%b %e') %>
                  </span></p>
                <% else %>
                <p><span style="color:red;">
                  <%= User.find(booking.user_id).name %>,
                  <%= User.find(booking.user_id).specie.name %>
                   from
                  <%= User.find(booking.user_id).planet.name %> :
                  <%= booking.start_at.to_time.strftime('%b %e') %> to
                  <%= booking.end_at.to_time.strftime('%b %e') %>
                </span></p>

                <%= link_to "Accept this booking", booking_update_path(booking), class: "btn btn-danger btn-acceptBooking",
                 method: :patch %>
              <% end %>
            </div>
            <div class="card-price" id="price-booked">
              <b><%= (ship.price *  0.05).round %></b> ℥/day
            </div>
            <img class="card-user" src="https://www.flaticon.com/premium-icon/icons/svg/280/280943.svg">
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>




<!-- Pilot Part -->

<div class="banner" id="banner-bookings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 0%), url('https://ak8.picdn.net/shutterstock/videos/15642988/thumb/1.jpg');">
  <div class="container text-center">
    <h1 class="font-starwars"> Your bookings </h1>
  </div>
</div>


  <div class="container">
    <div class="row">
      <% @bookings.reverse.each do |booking| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= booking.ship.ships_model.image %> ');">
            <div class="card-category"> <%= booking.ship.address %> </div>
            <div class="card-description text-center">
                <h2> <%= booking.ship.ships_model.name.capitalize %> </h2>
            </div>
            <div class="card-price" id="price-booked">
                <b><%= (booking.ship.price *  0.05).round %></b> ℥/day
            </div>
            <img class="card-user" src= <% if booking.ship.user.avatar.nil? %>
              <%= 'http://ecole-fougueyrolles.e-monsite.com/medias/images/vaisseau.han.solo.jpg' %>
            <% else %>
              <%= booking.ship.user.avatar %>
            <% end %> >
            <div class="card-dates">
                  <%= booking.start_at.to_time.strftime('%b %e') %> - <%= booking.end_at.to_time.strftime('%b %e') %>
            </div>
            <a class="card-link" href="<%= booking_path(booking) %>"  ></a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
