<%= link_to 'Back to your bookings', bookings_path %>
<h1> Your booking </h1>
<h2> Ship: <%= "#{@booking.ship.name} (#{@booking.ship.category})" %> </h2>
<h3> Owner: <%= link_to @booking.user.name, '#' %> from <%= @booking.user.planet %> </h3>
<h3> Location of your ship: <%= @booking.ship.address %></h3>
<h3>Price: <%= @booking.ship.price %> credits</h3>
