<div class="banner" id="banner-bookings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 0%), url('https://ak8.picdn.net/shutterstock/videos/15642988/thumb/1.jpg');">
  <div class="container text-center">
    <h1 class="font-starwars"> Your booking </h1>
  </div>
</div>

<div class="wrapper margin-top-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">

        <div class="ship-content">
          <div class="ship-img">
          <%= image_tag  @booking.ship.ships_model.image %>
          <h2 class="font-starwars title"><%= @booking.ship.name %></h2>
          </div>

          <div class="ship-infos ship-rented">
            <p class="infos"><i class="fa fa-user" aria-hidden="true"></i> The Owner : <%= link_to @booking.ship.user.name, '#' %> from <%= @booking.ship.user.planet.name %></p>
            <p class="infos"><i class="fa fa-globe" aria-hidden="true"></i> Where to meet : <%= @booking.ship.address %></p>
            <p class="infos"><i class="fa fa-rocket" aria-hidden="true"></i> The Ship: <%= @booking.ship.ships_model.name %></p>
            <p class="infos"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Price : <%= (@booking.ship.daily_rent_price).round %> ℥/day</p>
            <p class="infos" id="total-price"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Total Price: <%= @booking.price %> ℥ </p>
          </div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="booking-options bkg-review">
          <h3 class="booking-date"> FROM <%= @booking.start_at.to_time.strftime('%b %e') %> TO <%= @booking.end_at.to_time.strftime('%b %e') %> </h3>
            <p class="infos"> Booking Status :
            <!-- Change color with booking approval status -->
            <% if @booking.approved == true %>
            <span style="color: #36F548;"><%= "Approved" %></span>
            <% else %>
            <span style="color:red;"><%= "Pending" %></span>
            <% end %>
            </p>
            <%= render "bookings/formreview" %>
            <%= link_to "Delete my booking", booking_path(@booking),
              method: :delete,
              data: { confirm: "Sure, are you?" } %>
        </div>
        <div class="reviews bookings_show_reviews">
          <p class="font-starwars">
            <% if !@booking.ship.mean_rating.nil? %>
                    <% @booking.ship.mean_rating.times do  %>
                      <i class ="fa fa-star good-star" id="star-rating-good" aria-hidden="true"></i>
                    <% end %>
                    <% (5 - @booking.ship.mean_rating).times do  %>
                      <i class ="fa fa-star" id="star-rating-bad" aria-hidden="true"></i>
                    <% end %>
                    <p id="rating-secondary">Based on <%= @booking.ship.number_of_reviews %>
                    <% if @booking.ship.number_of_reviews == 1 %>
                      review
                    <% else %>
                      reviews
                    <% end %>
                    </p>
                  <% else %>
                    Not rated yet
                  <% end %>
          </p>
          <% @booking.ship.bookings.first(2).each do |booking| %>
            <% unless booking.content.nil?%>
            <p class="review">
            <%= booking.rating%> : "<%=booking.content %>"
            </p>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
    <div id="map" style="width: 100%; height: 300px;"></div>

    <!-- code javaS de la map -->
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#fbd216"},{"lightness":17}]}]

            var handler = Gmaps.build('Google');
            handler.buildMap({
              provider: {
                styles: styles,
                },
              internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(1);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(5);
              }
            });
          });
        <% end %>
      <% end %>
  </div>
</div>

