<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 0%), url('https://ak8.picdn.net/shutterstock/videos/15642988/thumb/1.jpg');">
  <div class="container text-center">

    <%= link_to 'Back to your bookings', bookings_path, class: "btn btn-xs btn-primary" %>
    <h1 class="font-starwars"> Your booking </h1>
    <h2 class="font-starwars"> FROM <%= @booking.start_at.to_time.strftime('%b %e') %> TO <%= @booking.end_at.to_time.strftime('%b %e') %> </h2>
    <h2 class="font-starwars"> Ship: <%= "#{@booking.ship.name} (#{@booking.ship.ships_model.name
    })" %> </h2>
    <h3 class="font-starwars"> Owner: <%= link_to @booking.ship.user.name, '#' %> from <%= @booking.ship.user.planet.name %> </h3>
    <h3 class="font-starwars"> Location of your ship: <%= @booking.ship.address %></h3>
    <h3 class="font-starwars"> Price: <%= @booking.price %> ℥</h3>
    <p class="font-starwars"> (<%= (@booking.ship.daily_rent_price).round %> ℥/day)</p>

    <%= link_to "Delete my booking", booking_path(@booking), class: "btn btn-xs btn-primary",
          method: :delete,
          data: { confirm: "Sure, are you?" } %>
  </div>
</div>
    <div id="map" style="width: 100%; height: 600px;"></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#fbd216"},{"lightness":17}]}]

      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          styles: styles,
          },
        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(1);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(5);
        }
      });
    });
  <% end %>
<% end %>
