<%= link_to 'Back to your bookings', bookings_path %>
<h1> Your booking </h1>
<h2> Ship: <%= "#{@booking.ship.name} (#{@booking.ship.ships_model.name
})" %> </h2>
<h3> Owner: <%= link_to @booking.ship.user.name, '#' %> from <%= @booking.ship.user.planet.name %> </h3>
<h3> Location of your ship: <%= @booking.ship.address %></h3>
<h3>Price: <%= @booking.ship.price %> credits</h3>

<%= link_to "Delete my booking", booking_path(@booking),
      method: :delete,
      data: { confirm: "Sure, are you?" } %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
