<h1>User Informations</h1>

<h2>
  <% if current_user.name.nil? %>
    <%= current_user.first_name %> <%= current_user.last_name %>
    <% else %> <%= current_user.name %>
  <% end %>
</h2>

<!-- Implement ships card here -->
<li>
  <% current_user.ships.each do |ship| %>
    <%= ship.name %>, <%= ship.price %> credits by day.
  <% end %>
</li>

<br>

<h4>Bookings of my ships :</h4>


<li>
  <% current_user.bookings.each do |booking| %>

    <strong>From</strong> <%= booking.start_at %>,
    <strong>To</strong> <%= booking.end_at %>

  <% end %>
</li>

<h4>Booked ships :</h4>

  <% current_user.ships.bookings.each do |booking| %>

    <strong>From</strong> <%= booking.start_at %>,
    <strong>To</strong> <%= booking.end_at %>

  <% end %>



<p>For debugging purpose, user_id :  <%= current_user.id %></p>

