<!-- Work in progress page for a public profil for pilots -->

<h1>User Informations</h1>

<h2>
  <% if @user.name.nil? %>
    <%= @user.first_name %> <%= @user.last_name %>
    <% else %> <%= @user.name %>
  <% end %>
</h2>

<!-- Implement ships card here -->

<h3>My ships</h3>
  <% @user.ships.each do |ship| %>
    <li><strong> <%= ship.name %>, <%= ship.price %> credits by day.</strong></li>
      TEST(<% unless ship.ships_model.image.nil? %>
      <%= image_tag ship.ships_model.image %>
      <% end %>)
    <p>
    <% ship.bookings.reverse.each do |booking| %>
      <strong>From</strong> <%= booking.start_at %>,
      <strong>To</strong> <%= booking.end_at %>
      </p>
    <% end %>
  <% end %>

<br>

<h4>Booked ships :</h4>

  <% @user.bookings.reverse.each do |booking| %>
    <li> <%= booking.ship.name  %> </li>
    <p><strong>From</strong> <%= booking.start_at %>,
    <strong>To</strong> <%= booking.end_at %></p>
  <% end %>


