<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://vignette3.wikia.nocookie.net/starwars/images/7/72/Hyperspace-SWPuzzle.jpg/revision/latest?cb=20101018151244');">
  <div class="banner-content">
    <h1 class="font-starwars">RENT THE  BEST STARSHIPS</h1>
    <h2 class="font-starwars">VISIT SPACE AS NEVER BEFORE</h2>
    <%= render 'shared/search_form' %>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<div class="container">
  <div class="row">
    <% @ships.each do |ship| %>
      <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
            <% if ship.ships_model.image.nil? %>
            <%= 'http://ecole-fougueyrolles.e-monsite.com/medias/images/vaisseau.han.solo.jpg' %>
            <% else %>
            <%= ship.ships_model.image %>
            <% end %>
      );">
              <div class="card-category"><%= ship.address %></div>
              <div class="card-description">
                <h2><%= ship.ships_model.name %></h2>
                <p><%= ship.price %> €</p>
              </div>
              <img class="card-user" src="https://www.flaticon.com/premium-icon/icons/svg/280/280943.svg">
              <a class="card-link" href="#" ></a>
          </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        zoom: 1,
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
