<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://vignette3.wikia.nocookie.net/starwars/images/7/72/Hyperspace-SWPuzzle.jpg/revision/latest?cb=20101018151244');">
  <div class="banner-content">
    <h1>Find the best starship</h1>
    <p>Cheaper, nearer, more convenient</p>
    <%= render 'shared/search_form' %>
  </div>
</div>


<div id="map" style="width: 100%; height: 600px;"></div>

<div class="wrapper">
	<div class="container">
		<% @ships.each do |ship| %>
			<p><%= ship.user.name %></p>
			<p><%= ship.address %></p>
		<% end %>
	</div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
