<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 30%), url('https://ak8.picdn.net/shutterstock/videos/15642988/thumb/1.jpg');">
  <div class="banner-content">
    <h1 class="font-starwars">RENT THE  BEST STARSHIPS</h1>
    <h2 class="font-starwars">VISIT SPACE AS NEVER BEFORE</h2>
    <%= render 'shared/search_form' %>
  </div>
</div>

<div class="wrapper">

  <div class="container ships-show">
    <p class="ships-show-title">1 million users and over 40,000 private ships for rent on earth</p>
    <div class="row">
      <%= render "shared/card" %>
   </div>
  </div>

  <div class="container reviews-show">
    <div class="row">
      <div class="title-reviews-show">
        <p>Last reviews</p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="card-review">
          <img class="card-review-user" src="https://www.flaticon.com/premium-icon/icons/svg/280/280943.svg">
          <div class="card-review-content">
              <p class="card-review-title"><%= User.find_by(name: "Han Solo").name %> rent a Millenium Falcon on Shipstar</p>
              <p class="card-review-comment">“It’s the ship that made the Kessel run in less than twelve parsecs. I’ve outrun Imperial starships. Not the local bulk cruisers, mind you. I’m talking about the big Corellian ships, now. She’s fast enough for you, old man.”</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="card-review">
          <img class="card-review-user" src="https://www.flaticon.com/premium-icon/icons/svg/280/280943.svg">
          <div class="card-review-content">
            <p class="card-review-title"><%= User.find_by(name: "Plo Koon").name %> rent a <%= ShipsModel.find_by(name: "Star Destroyer").name %> on Shipstar</p>
            <p class="card-review-comment">“That ship's saved my life quite a few times. She's the fastest hunk of junk in the galaxy!”</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#fbd216"},{"lightness":17}]}]

      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          styles: styles
          },
        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
