<div class="container text-center">
  <h1>Details</h1>

  <div>
    <h2><%= @ship.name %></h2>
    <p>Address : <%= @ship.address %></p>
    <p>Registration : <%= @ship.ships_info.name %></p>
    <p>Price : <%= @ship.price %> $︎</p>
  </div>

  <div>
    <%= render 'bookings/form' %>
  </div>

  <div>
    <%= link_to 'back to research', ships_path%>
  </div>


</div>
