<div class="container text-center">
  <h1>Details</h1>

  <div>
    <h2><%= @ship.name %></h2>
    <p><i class="fa fa-globe" aria-hidden="true"> : </i><%= @ship.address %></p>
    <p><i class="fa fa-rocket" aria-hidden="true"></i> : <%= @ship.ships_model.name %></p>
    <p><i class="fa fa-cogs" aria-hidden="true"> : </i><%= @ship.ships_model.ships_class.name %></p>
    <p><i class="fa fa-credit-card-alt" aria-hidden="true"></i> : <%= @ship.price %> $︎</p>
  </div>

  <div>
    <%= render 'bookings/form' %>
  </div>

  <div>
    <%= link_to 'back to research', ships_path%>
  </div>


</div>
